.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .logo {
    font-size: 2.5vw;
    font-family: 'Times New Roman', Times, serif
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;;
  }
  
  .nav-item {
    margin-right: 1vw;
    cursor: pointer;
  }


  .menu-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin-right: 10px; 
  }
  
  .searchBar-div{
    display: flex;
    justify-content: flex-end;
    width: 40vw;
    /* background-color: #ffffff60; */
  }