  .news-ticker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #1c3664;
    padding: 8px;
    margin: 2vw;
    overflow: hidden;
    white-space: nowrap;
    /* border-left: linear-gradient(to right, #f3f3f3 38%, rgba(0, 0, 0, 0) 75%); */
    box-shadow: inset 60px 0px 15px -15px rgba(216, 216, 216, 0.3);

  }
  
  .news-container {
    display: flex;
    /* gap: 20px; */
    height: 100%;
    animation: scrollNews linear infinite;
    animation-duration: 120s;
    animation-direction: reverse; 
  }
  

  .news-item {
    padding: 0 45px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;

  }
  
  @keyframes scrollNews {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .live-word {
    font-weight: bold;
    padding: 0 10px;
    color: rgb(95, 13, 13);
    background-color: #f0f0f0;
    z-index: 4;
  }
  
  @media (max-width: 768px) {
    /* .news-ticker {
      flex-direction: column; 
      align-items: flex-start;
    }
  
    .news-container {
      flex-direction: column;
      gap: 10px;
      overflow: auto; 
    }
  
    .live-word {
      margin-top: 10px;
    } */
  }
  

  .circle-img{
    border-radius: 50%;
    padding: 0 10px 0 10px;
    margin: 0 45px 0 10px;
  }