.news-ticker {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #aa2626;
    color: white;
    padding: 15px 0 15px 0;
    margin-top: 1px;
    overflow: hidden;
  }
  
  .news-container {
    display: flex;
    animation: scrollNews linear infinite;
    animation-duration: 20s; 
  }
  
  .news-item {
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  @keyframes scrollNews {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .live-word {
    font-weight: bold;
    padding: 0 20px 0 20px;
    color: rgb(95, 13, 13);
    background-color: #f0f0f0;
    z-index:1;
  }