.news-ticker {
  display: block;
  /* align-items: center; */
  justify-content: center;
  background-color: white;
  color: #1c3664;
  margin: 2vw;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 60px 0px 15px -15px rgba(216, 216, 216, 0.3);
}

.news-container {
  display: flex;
  height: 100%;
  animation: scrollNews linear infinite;
  animation-duration: 20s;
  animation-direction: reverse;
}


.news-item {
  padding: 0 ;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding-right: 45px;
}

@keyframes scrollNews {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.live-word {
  padding: 15px;
  color: #f0f0f0;
  background-color: #801a1a;
  z-index: 1;
}

.circle-img {
  border-radius: 50%;
  padding: 0 10px 0 10px;
  margin: 0 30px 0 15px;
}

  
  @media (max-width: 768px) {
    /* .news-ticker {
      flex-direction: column; 
      align-items: flex-start;
    }
  
    .news-container {
      flex-direction: column;
      gap: 10px;
      overflow: auto; 
    }
  
    .live-word {
      margin-top: 10px;
    } */
  }
  

